<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Skill</h1>
    <form>
        <label>Skill name</label>
        <input type="text" name="skill">
        <label>Level</label>
        <input type="number" min="1" max="10" name="level">
        <button type="submit">Create skill</button>
    </form>


    <a href="/skills">Go back</a>
</body>
</html>