<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= skill.skill %></h1>
    <% if (skill.level >= 1 { %>
        <h3>noice</h3>
    })
    <a href="/skills">Go back</a>

    <a href="/skills/<%= skill.skill %>/edit">edit this skill</a>
    <form action="/skills/<%= skill.skill %>?_method=DELETE" method="POST">
        <button type="submit">delete skill</button>
    </form>
</body>lsCtrl.show)
</html>